html{
    background-color: black;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}


.poster {
    width: 50%;
    margin-left:25%;
    margin-top:5%;
}

.texto {
    color: white;
    text-align: center;
}